
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900');


@import url(./general-mobile.css);
@import url(./general-tablet.css);
@import url(./general-desktop.css);
:root{
  --home-color: #e1222390;

  --proyectos-color: #f8e71c90;
  --galeria-color: #2DA1D190;
  --contacto-color: #7ed32190;
  --header-color: #000000;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}


.seccion-activada p{
  
  font-weight: bold;
 
}
.seccion-activada i{
  -webkit-text-stroke-width: 0.51px;
  -webkit-text-stroke-color: black;
  color:#ffffff;
 
}
.link-texto{
  font-weight: bold;
  color:blue;
}