
  body {
    
    width: 100%;
    min-width: 300px;
    min-height: 100vh;
    margin:0;

  }
   
  /*div que muestra en que seccion estoy por ej. Home, Gareria, etc*/
  .seccion {
    display:flex;
    align-items: center;
    justify-content: start;
    width: 100%;
    padding-left:20px;
    gap:20px;
    position: fixed;
    top: 0;
    z-index: 2;
    background-color: var(--header-color);
    height: 50px;
    color: white;
  }
  .fondo {
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 70vh;
    margin-top: 50px;
    background-image: url(../img/fondocelu.png);
    background-size: cover;
    
    filter:grayscale(50%) ;

  }
  .fondo img {
    
  
    width: 100%;
    max-width: 200px;
    position:relative;
    top:5px;
    border-radius: 50%;
   
   
  }
  .container-avatar-text{
    display: flex;
    align-items: space-around;
    justify-content: center;
    flex-direction: column;
    min-height: 50%;
    background-color: #ffffff50;
    padding:20px;
    border-radius: 25px;
    margin-top:50px; 
  }
  .container-avatar-text figure{
    width:100% ;
    background-color: #00000025;

    border-radius: 50%;
    border: 1px solid  var(--home-color);
  }
  .fondo p {
    margin: 0;
    color: #cccccc;
    font-size: 1.9rem;
    font-weight: bold;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    font-style: italic;
    font-family: "Roboto", sans-serif;
    filter: drop-shadow(-5px 5px 6px #000000);
  }
  
  .container-nav{
    position: fixed;
    bottom: 0px;
    z-index: 3;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav {
    width:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;   
    background-color: #cccccc80;
    padding: 5px;
    border-radius: 40px;
    padding:10px 40px;
  }
  nav p {
    margin: 0;
    color: var(--header-color);
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    font-size: 0.6-rem;
    display:none;
  }
  nav div {
    display: flex;
    width: 50px;
    height: 50px;
    gap:2px;
    flex-direction: column;
    
    align-items: center;
    justify-content: space-around;
    font-size: 0.5rem;
    padding: 5px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px #000000;
  }
  nav i {
    font-size: 1.5rem;
    color: #001f3b;
  }
  .nav-home {
    background-color: var(--home-color);
  }
  .nav-proyectos {
    background-color: var(--proyectos-color);
  }
  .nav-galeria {
    background-color: var(--galeria-color);
  }
  .nav-contacto {
    background-color: var(--contacto-color);
  }
  footer{
    background-color: #001f3b;
    height: 100px;
  }
  nav a {
    text-decoration: none;
  
  }
  /*INICIO FOOTER*/
footer{
  width:100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  color: white;
  background-color: #000000;
  padding-bottom: 55px;
}
footer div{
  padding: 10px;

}
.logo{
  font-size: 2rem;
  padding: 20px;
}



/*INICIO SOCIAL MEDIAS*/
.socialMedias{
  display: flex;
  flex-direction: column;
 
  gap: 5px;
  font-family: 'Roboto', sans-serif;
  
}
.socialMedias a{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:link{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:visited{
  color: white;
  text-decoration: none;
  text-underline-offset: none;

}
.socialMedias a:hover{
  color: #cccccc;
  filter: drop-shadow(0px 0px 10px rgba(255,255,255,0.8));

}
.socialMedias div{
  display: flex;
  justify-content: flex-start;
  align-items: center;

  gap: 20px;
}
.socialMedias div i{
  font-size: 1.5rem;
}
/*FIN SOCIAL MEDIAS*/
/*FIN FOOTER*/


